/** @format */

/*
<!-- from https://www.joshwcomeau.com/css/custom-css-reset/ -->
page reset
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/

* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  font-size: 14px;
}

/* ELEMENT FORMATTING BELOW HERE*/

html {
  /* ABOVE EFFECTS ALL ELEMENTS */
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: beige;
}

/*  above effects all body elements*/

/* ID FORMATTING BELOW */
#hero-pic {
  width: 12rem;
}
/* CLASS FORMATTING BELOW*/
.hero-img {
  border-radius: 50%;
  margin: 2rem;
}
/* class formatting above */

/* class formatting above */

/* UTILITY CLASSES ARE BELOW */

.abs {
  position: absolute;
}

/*  gives elements absolute position */

.rel {
  position: relative;
}

/*  gives elements relative position */

.flexr {
  display: flex;
  flex-direction: row;
}
/*  makes a flex row */

.flexc {
  display: flex;
  flex-direction: column;
}
/*  makes a flex column */

.fcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  makes a flex elements centers */

/* ABOVE EFFECTS UTILITY CLASSES */

/* NAVIGATION BAR BELOW*/
.navigation {
  list-style: none;
  background-color: deeppink;
  padding: 1rem;
}

.nav-item {
  margin: 0 0.5rem;
  border: 1px solid white;
  padding: 0.52rem;
  border-radius: 1rem;
  background-color: hotpink;
}
/* NAVIGATION BAR ABOVE */
